[submodule "database"]
	path = database
	url = git@github.com:ECE-366-Final-Project/database.git
[submodule "commandline"]
	path = commandline
	url = git@github.com:ECE-366-Final-Project/commandline.git
